<!DOCTYPE html>
<html>
    <head>
        <title>TasteSpace Backend</title>
    </head>
    <body>
        <h1>Welcome to the data server</h1>
        <p>Made by Synapse Insights</p>
        <form method="post">
            <p>Who are you: <input type="text" name="name"/></p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>